*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(114, 110, 110);
    padding: 10px;
    color: aliceblue;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{
    width: 120px;
}
.menus{
    display: flex;
}
.item{
    margin-right: 10px;
    padding: 7px;
    font-size: 20px;
    cursor: pointer;
}
.item:hover{
    color: hotpink;
}


.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    
    color: aliceblue;
    background-image: url("image/background.png");
    background-image: linear-gradient(45deg, red, yellow);
    
    
}

.banner-img{
    width: 300px;
}

.title{
    font-size: 55px;
    font-weight: bold;
}
.discription{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px;
    background-color: darkolivegreen;
    color: azure;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
.btn:hover{
    color: #eee;
    background-color: black;
    
}

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    height: 50vh;

}
.about-img{
    width: 300px;
    height: 200px;
}
.about-title{
    text-align: center;
    padding: 20px;
    font-size: 55px;
    font-weight: bold;
}
.about-dis{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.box{
    width: 230px;
    height: 300px;
    box-shadow: 4px 4px 15px gray;
    background-color: rgb(226, 119, 43);
    text-align: center;
    padding: 15px;
    color: aliceblue;
}
.icon{
    width: 70px;
}
.box-btn{
    background-color: gray;
    margin-top:10px;
}
.box-title{
    padding: 10px;
    

}
.box-disc{
    padding: 10px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-image: linear-gradient(45deg, rgb(75, 67, 67), rgb(131, 131, 107));
    box-shadow: inset green;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    color: aliceblue;
    
    background-color: rgb(89, 83, 76);

}
.footer-list{
    list-style: none;
}
.footer-list li{
    list-style: none;
}
.footer-list a{
    text-decoration:none;
    list-style: none;
    color: #fff;
}
.footer-list a:hover{
    color: #000
}
.list:hover{
    color: #eee;
}
.footer-heading{
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: justify;
}
.last{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: darkorange;
}
